<launch>
<group ns="model_uris">
<param name="rubbermaid_ice_guard_pitcher_blue" value="package://object_models/models/cgdb/objrec_models/rubbermaid_ice_guard_pitcher_blue.vtk" />
<param name="red_metal_plate_white_speckles" value="package://object_models/models/cgdb/objrec_models/red_metal_plate_white_speckles.vtk" />
<param name="play_go_rainbow_stakin_cups_2_orange" value="package://object_models/models/cgdb/objrec_models/play_go_rainbow_stakin_cups_2_orange.vtk" />
<param name="frenchs_classic_yellow_mustard_14oz" value="package://object_models/models/cgdb/objrec_models/frenchs_classic_yellow_mustard_14oz.vtk" />
<param name="brine_mini_soccer_ball" value="package://object_models/models/cgdb/objrec_models/brine_mini_soccer_ball.vtk" />
<param name="comet_lemon_fresh_bleach" value="package://object_models/models/cgdb/objrec_models/comet_lemon_fresh_bleach.vtk" />
<param name="champion_sports_official_softball" value="package://object_models/models/cgdb/objrec_models/champion_sports_official_softball.vtk" />
<param name="soft_scrub_2lb_4oz" value="package://object_models/models/cgdb/objrec_models/soft_scrub_2lb_4oz.vtk" />
<param name="play_go_rainbow_stakin_cups_1_yellow" value="package://object_models/models/cgdb/objrec_models/play_go_rainbow_stakin_cups_1_yellow.vtk" />
<param name="black_and_decker_lithium_drill_driver" value="package://object_models/models/cgdb/objrec_models/black_and_decker_lithium_drill_driver.vtk" />
<param name="melissa_doug_farm_fresh_fruit_pear" value="package://object_models/models/cgdb/objrec_models/melissa_doug_farm_fresh_fruit_pear.vtk" />
<param name="drill_custom" value="package://object_models/models/cgdb/objrec_models/drill_custom.vtk" />
<param name="play_go_rainbow_stakin_cups_5_green" value="package://object_models/models/cgdb/objrec_models/play_go_rainbow_stakin_cups_5_green.vtk" />
<param name="cheerios_14oz" value="package://object_models/models/cgdb/objrec_models/cheerios_14oz.vtk" />
<param name="domino_sugar_1lb" value="package://object_models/models/cgdb/objrec_models/domino_sugar_1lb.vtk" />
<param name="milk_carton" value="package://object_models/models/cgdb/objrec_models/milk_carton.vtk" />
<param name="red_metal_cup_white_speckles" value="package://object_models/models/cgdb/objrec_models/red_metal_cup_white_speckles.vtk" />
<param name="airplane" value="package://object_models/models/cgdb/objrec_models/airplane.vtk" />
<param name="large_black_spring_clamp" value="package://object_models/models/cgdb/objrec_models/large_black_spring_clamp.vtk" />
<param name="melissa_doug_farm_fresh_fruit_orange" value="package://object_models/models/cgdb/objrec_models/melissa_doug_farm_fresh_fruit_orange.vtk" />
<param name="melissa_doug_farm_fresh_fruit_strawberry" value="package://object_models/models/cgdb/objrec_models/melissa_doug_farm_fresh_fruit_strawberry.vtk" />
<param name="clorox_disinfecting_wipes_35" value="package://object_models/models/cgdb/objrec_models/clorox_disinfecting_wipes_35.vtk" />
<param name="cheeze-it_388g" value="package://object_models/models/cgdb/objrec_models/cheeze-it_388g.vtk" />
<param name="jell-o_strawberry_gelatin_dessert" value="package://object_models/models/cgdb/objrec_models/jell-o_strawberry_gelatin_dessert.vtk" />
<param name="orange_wood_block_1inx1in" value="package://object_models/models/cgdb/objrec_models/orange_wood_block_1inx1in.vtk" />
<param name="melissa_doug_farm_fresh_fruit_banana" value="package://object_models/models/cgdb/objrec_models/melissa_doug_farm_fresh_fruit_banana.vtk" />
<param name="morton_salt_shaker" value="package://object_models/models/cgdb/objrec_models/morton_salt_shaker.vtk" />
<param name="gillette_shaving_gel" value="package://object_models/models/cgdb/objrec_models/gillette_shaving_gel.vtk" />
<param name="purple_wood_block_1inx1in" value="package://object_models/models/cgdb/objrec_models/purple_wood_block_1inx1in.vtk" />
<param name="red_metal_bowl_white_speckles" value="package://object_models/models/cgdb/objrec_models/red_metal_bowl_white_speckles.vtk" />
<param name="medium_black_spring_clamp" value="package://object_models/models/cgdb/objrec_models/medium_black_spring_clamp.vtk" />
<param name="mug_custom2" value="package://object_models/models/cgdb/objrec_models/mug_custom2.vtk" />
<param name="pringles_original" value="package://object_models/models/cgdb/objrec_models/pringles_original.vtk" />
<param name="play_go_rainbow_stakin_cups_3_red" value="package://object_models/models/cgdb/objrec_models/play_go_rainbow_stakin_cups_3_red.vtk" />
<param name="gillete_shaving_gel" value="package://object_models/models/cgdb/objrec_models/gillete_shaving_gel.vtk" />
<param name="garnier_shampoo_bottle" value="package://object_models/models/cgdb/objrec_models/garnier_shampoo_bottle.vtk" />
<param name="master_chef_ground_coffee_297g" value="package://object_models/models/cgdb/objrec_models/master_chef_ground_coffee_297g.vtk" />
<param name="block_of_wood_12in" value="package://object_models/models/cgdb/objrec_models/block_of_wood_12in.vtk" />
<param name="darpaphonehandset_1000_original_coordinate_system" value="package://object_models/models/cgdb/objrec_models/darpaphonehandset_1000_original_coordinate_system.vtk" />
<param name="block_of_wood_6in" value="package://object_models/models/cgdb/objrec_models/block_of_wood_6in.vtk" />
<param name="darpaphonehandset_1000_different_coordinate_system" value="package://object_models/models/cgdb/objrec_models/darpaphonehandset_1000_different_coordinate_system.vtk" />
<param name="spam_12oz" value="package://object_models/models/cgdb/objrec_models/spam_12oz.vtk" />
<param name="campbells_condensed_tomato_soup" value="package://object_models/models/cgdb/objrec_models/campbells_condensed_tomato_soup.vtk" />
<param name="penn_raquet_ball" value="package://object_models/models/cgdb/objrec_models/penn_raquet_ball.vtk" />
<param name="all" value="package://object_models/models/cgdb/objrec_models/all.vtk" />
<param name="melissa_doug_farm_fresh_fruit_lemon" value="package://object_models/models/cgdb/objrec_models/melissa_doug_farm_fresh_fruit_lemon.vtk" />
<param name="melissa_doug_farm_fresh_fruit_apple" value="package://object_models/models/cgdb/objrec_models/melissa_doug_farm_fresh_fruit_apple.vtk" />
<param name="blue_wood_block_1inx1in" value="package://object_models/models/cgdb/objrec_models/blue_wood_block_1inx1in.vtk" />
<param name="darpaflashlight" value="package://object_models/models/cgdb/objrec_models/darpaflashlight.vtk" />
<param name="jell-o_chocolate_flavor_pudding" value="package://object_models/models/cgdb/objrec_models/jell-o_chocolate_flavor_pudding.vtk" />
<param name="sponge_with_textured_cover" value="package://object_models/models/cgdb/objrec_models/sponge_with_textured_cover.vtk" />
</group>
<group ns="stl_uris">
<param name="master_chef_ground_coffee_297g" value="package://object_models/models/cgdb/objrec_models/master_chef_ground_coffee_297g.stl" />
<param name="drill_custom" value="package://object_models/models/cgdb/objrec_models/drill_custom.stl" />
<param name="orange_wood_block_1inx1in" value="package://object_models/models/cgdb/objrec_models/orange_wood_block_1inx1in.stl" />
<param name="melissa_doug_farm_fresh_fruit_banana" value="package://object_models/models/cgdb/objrec_models/melissa_doug_farm_fresh_fruit_banana.stl" />
<param name="blue_wood_block_1inx1in" value="package://object_models/models/cgdb/objrec_models/blue_wood_block_1inx1in.stl" />
<param name="darpaflashlight" value="package://object_models/models/cgdb/objrec_models/darpaflashlight.stl" />
<param name="darpaphonehandset_1000_different_coordinate_system" value="package://object_models/models/cgdb/objrec_models/darpaphonehandset_1000_different_coordinate_system.stl" />
<param name="play_go_rainbow_stakin_cups_3_red" value="package://object_models/models/cgdb/objrec_models/play_go_rainbow_stakin_cups_3_red.stl" />
<param name="pringles_original" value="package://object_models/models/cgdb/objrec_models/pringles_original.stl" />
<param name="airplane" value="package://object_models/models/cgdb/objrec_models/airplane.stl" />
<param name="red_metal_bowl_white_speckles" value="package://object_models/models/cgdb/objrec_models/red_metal_bowl_white_speckles.stl" />
<param name="milk_carton" value="package://object_models/models/cgdb/objrec_models/milk_carton.stl" />
<param name="medium_black_spring_clamp" value="package://object_models/models/cgdb/objrec_models/medium_black_spring_clamp.stl" />
<param name="red_metal_cup_white_speckles" value="package://object_models/models/cgdb/objrec_models/red_metal_cup_white_speckles.stl" />
<param name="champion_sports_official_softball" value="package://object_models/models/cgdb/objrec_models/champion_sports_official_softball.stl" />
<param name="clorox_disinfecting_wipes_35" value="package://object_models/models/cgdb/objrec_models/clorox_disinfecting_wipes_35.stl" />
<param name="gillette_shaving_gel" value="package://object_models/models/cgdb/objrec_models/gillette_shaving_gel.stl" />
<param name="melissa_doug_farm_fresh_fruit_lemon" value="package://object_models/models/cgdb/objrec_models/melissa_doug_farm_fresh_fruit_lemon.stl" />
<param name="morton_salt_shaker" value="package://object_models/models/cgdb/objrec_models/morton_salt_shaker.stl" />
<param name="campbells_condensed_tomato_soup" value="package://object_models/models/cgdb/objrec_models/campbells_condensed_tomato_soup.stl" />
<param name="large_black_spring_clamp" value="package://object_models/models/cgdb/objrec_models/large_black_spring_clamp.stl" />
<param name="melissa_doug_farm_fresh_fruit_strawberry" value="package://object_models/models/cgdb/objrec_models/melissa_doug_farm_fresh_fruit_strawberry.stl" />
<param name="melissa_doug_farm_fresh_fruit_apple" value="package://object_models/models/cgdb/objrec_models/melissa_doug_farm_fresh_fruit_apple.stl" />
<param name="red_metal_plate_white_speckles" value="package://object_models/models/cgdb/objrec_models/red_metal_plate_white_speckles.stl" />
<param name="frenchs_classic_yellow_mustard_14oz" value="package://object_models/models/cgdb/objrec_models/frenchs_classic_yellow_mustard_14oz.stl" />
<param name="domino_sugar_1lb" value="package://object_models/models/cgdb/objrec_models/domino_sugar_1lb.stl" />
<param name="cheerios_14oz" value="package://object_models/models/cgdb/objrec_models/cheerios_14oz.stl" />
<param name="purple_wood_block_1inx1in" value="package://object_models/models/cgdb/objrec_models/purple_wood_block_1inx1in.stl" />
<param name="play_go_rainbow_stakin_cups_1_yellow" value="package://object_models/models/cgdb/objrec_models/play_go_rainbow_stakin_cups_1_yellow.stl" />
<param name="cheeze-it_388g" value="package://object_models/models/cgdb/objrec_models/cheeze-it_388g.stl" />
<param name="rubbermaid_ice_guard_pitcher_blue" value="package://object_models/models/cgdb/objrec_models/rubbermaid_ice_guard_pitcher_blue.stl" />
<param name="jell-o_chocolate_flavor_pudding" value="package://object_models/models/cgdb/objrec_models/jell-o_chocolate_flavor_pudding.stl" />
<param name="melissa_doug_farm_fresh_fruit_pear" value="package://object_models/models/cgdb/objrec_models/melissa_doug_farm_fresh_fruit_pear.stl" />
<param name="all" value="package://object_models/models/cgdb/objrec_models/all.stl" />
<param name="sponge_with_textured_cover" value="package://object_models/models/cgdb/objrec_models/sponge_with_textured_cover.stl" />
<param name="block_of_wood_6in" value="package://object_models/models/cgdb/objrec_models/block_of_wood_6in.stl" />
<param name="play_go_rainbow_stakin_cups_2_orange" value="package://object_models/models/cgdb/objrec_models/play_go_rainbow_stakin_cups_2_orange.stl" />
<param name="melissa_doug_farm_fresh_fruit_orange" value="package://object_models/models/cgdb/objrec_models/melissa_doug_farm_fresh_fruit_orange.stl" />
<param name="play_go_rainbow_stakin_cups_5_green" value="package://object_models/models/cgdb/objrec_models/play_go_rainbow_stakin_cups_5_green.stl" />
<param name="black_and_decker_lithium_drill_driver" value="package://object_models/models/cgdb/objrec_models/black_and_decker_lithium_drill_driver.stl" />
<param name="comet_lemon_fresh_bleach" value="package://object_models/models/cgdb/objrec_models/comet_lemon_fresh_bleach.stl" />
<param name="garnier_shampoo_bottle" value="package://object_models/models/cgdb/objrec_models/garnier_shampoo_bottle.stl" />
<param name="darpaphonehandset_1000_original_coordinate_system" value="package://object_models/models/cgdb/objrec_models/darpaphonehandset_1000_original_coordinate_system.stl" />
<param name="spam_12oz" value="package://object_models/models/cgdb/objrec_models/spam_12oz.stl" />
<param name="soft_scrub_2lb_4oz" value="package://object_models/models/cgdb/objrec_models/soft_scrub_2lb_4oz.stl" />
<param name="mug_custom2" value="package://object_models/models/cgdb/objrec_models/mug_custom2.stl" />
<param name="penn_raquet_ball" value="package://object_models/models/cgdb/objrec_models/penn_raquet_ball.stl" />
<param name="brine_mini_soccer_ball" value="package://object_models/models/cgdb/objrec_models/brine_mini_soccer_ball.stl" />
<param name="jell-o_strawberry_gelatin_dessert" value="package://object_models/models/cgdb/objrec_models/jell-o_strawberry_gelatin_dessert.stl" />
<param name="block_of_wood_12in" value="package://object_models/models/cgdb/objrec_models/block_of_wood_12in.stl" />
<param name="600.572.58" value="package://object_models/models/cgdb/model_database/600.572.58.stl" />
<param name="dove_soap" value="package://object_models/models/cgdb/model_database/dove_soap.stl" />
<param name="900.444.86" value="package://object_models/models/cgdb/model_database/900.444.86.stl" />
<param name="v8_bottle" value="package://object_models/models/cgdb/model_database/v8_bottle.stl" />
<param name="all" value="package://object_models/models/cgdb/model_database/all.stl" />
<param name="shaving_foam_2oz" value="package://object_models/models/cgdb/model_database/shaving_foam_2oz.stl" />
</group>
</launch>
